.collection-item {
  width: 100%;
  height: 350px;
  position: relative;
  display: grid;
  &:hover {
    .image {
      opacity: 0.85;
    }

    .inverted {
      opacity: 1;
      display: flex;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

.image {
  width: 100%;
  height: 325px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  display: grid;
}

.collection-footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.name {
  width: 90%;
  margin-bottom: 15px;
}
